@import "tailwindcss";

@theme {
  --font-display: "Space Grotesk", sans-serif;

  --color-primary: #5b13ec;
  --color-background-light: #f6f6f8;
  --color-background-dark: #161022;
}

/* Add this to your global CSS for better mobile scrolling */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Better touch scrolling */
.snap-x {
  scroll-snap-type: x mandatory;
}
.snap-center {
  scroll-snap-align: center;
}